* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 1rem 0 1rem 1rem;
  background-color: #FFF8DD;
 font-family: 'Bodoni Moda', serif;
}

/*** START PAGE CSS  */

body.index{
  padding:2rem;
  text-align:center;
  font-family: 'Bodoni Moda', serif;
  align-content: center;
  display: grid;
  place-items:center;
}

.index main{
  display:block;
  width:100%;
}

.index h1 img{
  height:20rem;
}

.index p{
  text-align:center;
  font-size: 2rem;
  padding:2rem;
  margin:0;
  color:#2D7F54;
}
.index a{
  padding:1rem;
  display:inline-block;
  color:#2D7F54;
  text-align:center;
  font-size: 1.5rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;
}


/*** LOGIN PAGE CSS  */

body.login{
  display:grid;
  grid-template-columns:1fr;
  place-items: center;
  padding:2rem;
  text-align:center;
  font-family: 'Bodoni Moda', serif;
}

.links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
}

.links a{
  padding:2rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  display:inline-block;
  text-decoration:none; 
  line-height:1;
  color:#fff;
  font-family: 'Bodoni Moda', serif;
  font-size:1rem;
  border-style:none;
}

.new a{
  padding:1rem;
  display:inline-block;
  text-decoration:underline;
  color:#2D7F54;
  text-align:center;
}

.login h1 img{
  height:20rem;
}

/*** LOGIN-GUEST PAGE CSS  */
 
  body.login-guest {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  height: 100vh;
  font-family: 'Bodoni Moda', serif;
  font-size:1rem;

}

.login-guest h1 img{
  height:20rem;
}

 main.login-guest{
  display: grid;
  place-items: center;
}

 .login-guest form {
  padding: 1rem;
  background-color: #2D7F54;
  border: 1px solid #2D7F54;
  border-radius: 1rem;
  width: 80vw;
  padding:2rem;
}

.login-guest h1{
  text-align: center;
}

.login-guest p{
  font-size: 1.5rem;
}


@media screen and (min-width: 64em){
  .login-guest form {
   width: 50vw;
  }
}

 .login-guest label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #feffd7;
}

 .login-guest input {
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid #2D7F54;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #feffd7;
  color: #212121;
  font-family: 'Bodoni Moda', serif;
  font-size:1rem;
}

input:last-of-type {
  margin-bottom: 1.25rem;
}

input:focus {
  background-color: rgba(254,255,215,.1);
  outline: none;
  border: 1px solid #feffd7;
  color: #feffd7;
}

  .login-guest button {
  border-radius: 0.25rem;
  border: 1px solid #fff;
  padding: 0.5rem 1rem .5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #feffd7;
  background-color: transparent;
  font-family: 'Bodoni Moda', serif;
  font-size:1rem;
}

 .login-guest button[type="reset"]{
  border: 1px solid #fff;
  background-color: transparent;
  color: #feffd7;
}

 .login-guest button[type="submit"]:focus,
button[type="reset"]:focus {
  outline: none;
  border-color: #fff;
}

.login-guest h1 img{
  max-width: 75%;
}

/*** LOGIN MEMBER CSS  */

body.login-member{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  place-items: center;
  padding:2rem;
  text-align:center;
  font-family: 'Bodoni Moda', serif;
  height:100vh;
}

.login-member h1 img{
 height:25vh;
 width: 100vh;
}

.login-member img{
  max-width:20%;
}

.login-member p{
  font-size:1.5rem;
}

  .signin a{
  padding:1rem;
  display:inline-block;
  color:#2D7F54;
  text-align:center;
  font-size: 2rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;
}

  .member-item a{
  padding:.5rem;
  display:inline-block;
  color:#2D7F54;
  text-align:center;
  font-size: 1rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;
  margin:.5rem;
}

  .page-guest-item a{
  padding:1rem;
  display:inline-block;
  color:#2D7F54;
  text-align:center;
  font-size: 1.5rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;

}

/*** MAIN & GUEST PAGE CSS  */


body.page-main{
  height: 100vh;
  padding: 1rem 0 1rem 1rem;
  color: #000;
}

.page-main .main-carousel {
  
  height: 100%;
  
}

.page-main .carousel-cell {
  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding-right: 1rem;
  
}

@media screen and (min-width: 40em){
  
  .page-main .carousel-cell {
    
    width: 50%;
  }
  
}

@media screen and (min-width: 60em){
  
  .page-main .carousel-cell {
    
    width: 33.3333%;
  }
  
}

.page-main .carousel-cell img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}

.carousel-cell .text .page-main  {
  
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  align-self: end;
  text-align: center;
  padding: 1rem;
  line-height: 1;
}

.page-main a {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 2rem;}


.page-main .carousel-cell h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 2rem;}
/***
body.page-main {
  height: 100vh;
  display: grid;
}

.page-main main {
  width: 100%;
  columns: 3;
  column-gap: 1rem;
  place-items: center;

}

.page-main main img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}


.page-main.intro{
  grid-column: 1/-1;

}

.image {
   position: relative;
}

.page-main h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
  }
.page-main a {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 2rem;}
*/


body .page-main-member{
  height: 100vh;
  padding: 1rem 0 1rem 1rem;
  color: #000;
}

.page-main-member .main-carousel {
  height: 50%;
  padding-bottom: 2rem;
}

.page-main-member .carousel-cell {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding-right: 1rem;
}

@media screen and (min-width: 40em){
  
  .page-main-member .carousel-cell {
    
    width: 50%;
  }
  
}

@media screen and (min-width: 60em){
  
  .page-main-member .carousel-cell {
    
    width: 33.3333%;
  }
  
}




.page-main-member .carousel-cell img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}

.carousel-cell .text .page-main-member  {
  
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  align-self: end;
  text-align: center;
  padding: 1rem;
  line-height: 1;
}


.page-main-member a {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 2rem;}


.page-main-member .carousel-cell h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 2rem;}

   /*** MEMBER MAIN PAGE CSS  */

body .page-main-member {
  height: 100vh;
  display: grid;
  margin:2rem;
  grid-template-rows: 1fr ;
  padding: 2rem;
}

.page-main-member main {
  width: 100%;
  height: 100%;
  columns: 6;
  column-gap: 1rem;
  place-items: center;
  padding:2rem;

}
.page-main-member main img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  margin-bottom: 1rem;
  grid-row: 2;
  padding:.5rem;

}


.image {
   position: relative;
}

.page-main-member main h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;
   color:#fff;
   padding:2rem;
   font-size: 1rem;
   grid-row: 1;
   padding-bottom: 2rem;}


/*** HOME MEMBER ITEM PAGE CSS  */ 
 

 body.member-item{
  padding: 2rem;
  background-color: #FFF8DD;
  color: #333;
  height:100vh;
  display:grid;
  grid-template-columns:2fr 1fr;

}

.intro{
  grid-column: 1/-1;
}

.main-carousel {
  height: 100%;
  width: 100%;
 }

.carousel-cell {
  width: 100%;
  height: 90%;
  display: grid;
  padding-right: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 40em){
 .carousel-cell{
  width: 50%;
  }
}
@media screen and (min-width: 60em){
  .carousel-cell{
    width: 33.3333%;
   }
  }
 
.carousel-cell h1 {
  margin: 0;
  color: #000;
  font-size: 1.5rem
  z-index:1;
  font-size: 1rem;
  margin:.5rem;
    }
    
.carousel-cell p {
  color: #000;
  font-size: 1rem;
  z-index:1;
    }

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  border-radius: 0.5rem;
  }

.flickity-prev-next-button.next {
 right: 2rem;
}

.flickity-prev-next-button.previous {
  left: 1rem;
}

footer {
  display: grid;
  align-content: space-between;
  padding: 2rem;
  background-color: #e5e5e5;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: inset 5px 0 20px rgba(0,0,0,.05);
}

footer h2 {
  margin: .875rem 0 2rem;
  font-size: 1.75rem;
}

footer ul {
margin: 0;
padding:0;
list-style: none;
border-bottom: 1px #ccc;
}

footer ul li {

  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  border-top: 1px #ccc;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

footer ul li:last-child span:first-child {
  font-weight: 700;
}

footer button {
  font-family: 'Fira Sans', sans-serif;
  border: none;
  padding:0;
  line-height: 3;
  border-radius: 3rem;
  font-size: 1.25rem;
  background-color:#ee6f3f;
  color:#fff; 

}


/*** PRODUCE PAGE CSS  */ 

.produce .intro{
  margin:2rem;
  font-size:1.5rem;
}

.produce main, nav {
  padding: 2rem 2rem 0;

}

.produce a{
    text-decoration: none;
    padding-bottom: .25rem;
    display: inline-block;
    color: #000;
    border-bottom: 1.5px solid #ccc;
    font-size:1.5rem;
    margin-right: .5rem;
}

.produce nav {
  a {
    text-decoration: none;
    padding-bottom: .25rem;
    display: inline-block;
    color: #000;
    margin-right: .5rem;
    &.curr {
      &[data-nav="red"]{
        border-color: red;
        color: red;
      }
      &[data-nav="blue"]{
        border-color: blue;
        color: blue;
      }
      &[data-nav="green"]{
        border-color: green;
        color: green;
      }
    }
  }
}

.produce ul {
  columns:2;
  margin: 0;
  padding: 0;
  list-style: none;


  @media screen and (min-width: 30em){
    grid-template-columns: repeat(2,1fr);
  }
  @media screen and (min-width: 40em){
    grid-template-columns: repeat(3,1fr);
  }
  @media screen and (min-width: 60em){
    grid-template-columns: repeat(4,1fr);
  }
}

  li {
  background-color: #2D7F54;
  margin-bottom:1.5rem;
  transition: all .4s;
  padding: 1rem;
  transform: scale(1);
  border-radius: .5rem;
  color: #000;
}
  .produce h1 {
    margin: 0;
    font-size: 2rem;

  }
}

.season {
  background-color: #2D7F54; 
}

.fruit{
  background-color: #2D7F54;
}

.veggie {
  background-color:#2D7F54;
}

.hide {
  transform: scale(0);
}

.remove {
  display: none;
}

  /*** PRODUCE PAGE CSS  */ 

  .item body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin:0;
  padding:2rem;
  background-color: #D5DAD3;
}

.item main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap:2rem;
  place-items:center;
}

.pic img {
  padding: 2rem;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:all;
  grid-column:1;
  grid-row:1;
  animation-name: fadein;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.item .first{
  padding-top:1rem;
  padding-bottom:1rem;
}

.item p{
  opacity:0;
  transition:all;
  margin:0;
  padding:1rem;
  font-size:1.25rem;
  animation-name: fadein;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  padding-bottom:2rem;
}

.item h1{
  opacity:0;
  transition:all;
  margin:1rem;
  font-size:2rem;
  animation-name: fadein;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.item a{
  font-size:1rem;
  opacity:0;
  margin:1rem;
  padding:.5rem;
  transition:all;
  border:1rem;
  background:#fff;
  animation-name: fadein;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  text-decoration:none;
  padding:1rem;
  display:inline-block;
  background-color:#2D7F54;
  text-align:center;
  font-size: 1rem;
  color:#fff;
}


.item h2{
 text-align: left;
grid-column: 1fr;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  /*** CART PAGE CSS  */ 


 body.checkout{
  padding: 2rem;
  background-color: #FFF8DD;
  color: #333;
  height:100vh;
  display:grid;
  grid-template-columns:2fr 1fr;
}

  .checkout header {
  display: grid;
  align-content: space-between;
  justify-items: center;
  padding: 2.5rem 2rem;
  background-color: #212121;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

  .checkout header a i {
  color: #666;
  font-size: 2rem;
  text-align: center;
}

 .checkout main {
  padding: 2rem;
  background-color: #fff;
}

  .checkout main h1 {
  margin: .125rem 0 0;
  font-size: 2.25rem;
  font-weight: 900;
}

 .checkout main h1 + p {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

 .checkout .card{
display:grid;
grid-template-columns: 10rem auto;
grid-gap:2rem;
border: solid 1px #ccc;
border-radius: .25rem;
margin-top:2rem;
padding-right:2rem;
}

 .checkout image{
  width:10rem;
  height:10rem;
}

  .checkout img{
  width:100%;
  height:100%;
  object-fit: cover;
}

 .checkout a{
 color: #ccc;
}

 footer  {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-content: space-between;
  padding: 2rem;
  background-color: #FFF8DD;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: inset 5px 0 20px rgba(0,0,0,.05);
}

 footer h2 {
  margin: .875rem 0 2rem;
  font-size: 1.75rem;
}

footer ul {
margin: 0;
padding:0;
list-style: none;
border-bottom: 1px #ccc;
}

 footer ul li{

  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  border-top: 1px #ccc;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin:1rem;
  color:#fff;
}

  footer ul li: last-child span:first-child {
  font-weight: 700;
}

   footer a {
  padding:1rem;
  display:inline-block;
  text-align:center;
  font-size: 1.5rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;
}

body.confirm {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 3rem;
  background-color: #FFF8DD;
  text-align: center;
}

main.confirm {
  background-color: #fff;
  padding: 3rem;
  border-radius: .25rem;
  width: 80vw;
  @media screen and (min-width: 40em){
    width: 50vw;
  }
}

.confirm h1 img {
  max-width: 75%;
}

.confirm a{
 padding:1rem;
  display:inline-block;
  color:#2D7F54;
  text-align:center;
  font-size: 1.5rem;
  background-color:#2D7F54;
  border-radius:.50rem;
  text-decoration:none; 
  line-height:1;
  color:#fff;
  margin:1rem;
}

